@media (min-width: 320px) {
  .about__gallery {
    width: 288px;
    margin: 51px auto 0 auto;
  }

  .about-gallery__title {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
  }

  .about-gallery__images {
    margin-top: 10px;
  }
}

@media (min-width: 1366px) {
  .about-gallery {
    width: 737px;
    margin-left: 605px;
    margin-top: -183px;
  }

  .about-gallery__title {
    width: 192px;
    font-size: 24px;
    text-align: right;
    position: absolute;
    top: 425px;
    left: 445px;
    line-height: 27.6px;
    z-index: 1;
  }

  .about-gallery__image-wrapper {
    width: 556px;
    height: 272px;
    position: relative;

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      border: 4px solid #0DD1A2;
      position: absolute;
      top: -14px;
      left: 13px;
      z-index: -1;
    }
  }

  .about-gallery__image {
    width: 562px;
    height: 300px;
  }
}