@media (min-width: 320px) {
  .about__gallery {
    width: 288px;
    margin: 51px auto 0 auto;
  }

  .about-gallery__title {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
  }

  .about-gallery__images {
    margin-top: 10px;
  }
}