@media (min-width: 320px) {
  .connection-inputs {
    width: 280px;
    margin-top: 10px;
    
  }
}

@media (min-width: 1366px) {
  .connection-inputs {
    margin-top: 12px;
    width: 570px;
  }

  .connection-inputs__wrapper {
    display: flex;
    width: 570px;
    justify-content: space-between;
  }

  .connection-inputs__send-button {
    margin-top: 15px;
  }
}