@media (min-width: 320px) {
  .copyright__company {
    display: block;
    font-size: 13px;
    font-weight: 300;
    line-height: 16.9px;
    color: #FFFFFF;
    opacity: 0.64;
  }

  .copyright__description {
    display: block;
    font-size: 13px;
    font-weight: 300;
    line-height: 16.9px;
    color: #FFFFFF;
    opacity: 0.64;
  }
}

@media (min-width: 1366px) {
  .copyright {
    display: flex;
    width: 734px;
    justify-content: space-between;
  }
}