@media (min-width: 320px) {
  .email-input {
    margin-top: 8px;
    position: relative;
  }

  .email-input._error {
    &::before {
      content: "";
      position: absolute;
      width: 18px;
      height: 3px;
      border-radius: 20%;
      background-color: #F97676;
      top: 23px;
      left: 245px;
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      width: 18px;
      height: 3px;
      border-radius: 20%;
      background-color: #F97676;
      top: 23px;
      left: 245px;
      transform: rotate(-45deg);
    }
  }

  .email-input__input {
    width: 100%;
    border: none;
    height: 46px; 

    &::placeholder {
      font-family: "Ubuntu", sans-serif;
      font-size: 13px;
      color: #1C1C1C;
      opacity: 0.4;
    }
  }

  .email-input__input._error {
    outline: 2px solid #F97676;
  }

  .email-input--error {
    &::before {
      position: absolute;
      content: "";
      width: 17px;
      height: 3px;
      border-radius: 30%;
      transform: rotate(45deg);
      background-color: #F97676;
      top: 24px;
      left: 248px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 17px;
      height: 3px;
      border-radius: 30%;
      transform: rotate(-45deg);
      background-color: #F97676;
      top: 24px;
      left: 248px;
    }
  }

  .email-input__input {
    &:focus {
      outline: 2px solid #0DD1A2;
    }

    // &:valid {
    //   outline: 2px solid #1DC04B;
    // }

    // &:invalid {
    //   outline: 2px solid #F97676;
    // }

    &:active {
      outline: 2px solid #0DD1A2;
    }
  }
}

@media (min-width: 1366px) {
  .email-input {
    margin-top: 0;
  }

  .email-input__input {
    width: 262px;
  }
}