@media (min-width: 320px) {
  .faq {
    margin-top: 90px;
  }

  .faq__title {
    margin: 0 0 0 16px;
    font-size: 28px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 32.17px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-color: #0DD1A2;
      width: 288px;
      height: 3px;
      top: 75px;
    }
  }

  .faq__scroll-button {
    display: none;
  }
}

@media (min-width: 1366px) {
  .faq {
    margin-top: 178px;
    margin-left: 73px;
    position: relative;
  }

  .faq {
    &::before {
      content: "";
      position: absolute;
      width: 235px;
      height: 264px;
      background-image: url("../img/boy.png");
      background-size: cover;
      top: 343px;
      left: 1028px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/boy@2x.png");
      }
    }
  }

  .faq__title {
    font-size: 44px;

    &::before {
      width: 616px;
      top: 46px;
    }
  }

  .faq__scroll-button {
    display: block;
    @include button();
    width: 30px;
    height: 30px;
    opacity: 0.7;
    position: relative;
    margin-left: 594px;
    margin-top: 35px;

    &::before {
      content: "";
      position: absolute;
      content: "";
      width: 10px;
      height: 1px;
      position: absolute;
      background-color: #FFFFFF;
      opacity: 0.5;
      transform: rotate(45deg);
      top: 15px;
      left: 7px;
    }

    &::after {
      content: "";
      position: absolute;
      content: "";
      width: 10px;
      height: 1px;
      position: absolute;
      background-color: #FFFFFF;
      opacity: 0.5;
      transform: rotate(-45deg);
      // top: 25px;
      // left: 145px;
    }
  }
}