@media (min-width: 320px) {
  .form-message {
    position: fixed;
    display: none;
  }

  .form-message__wrapper {
    width: 320px;
    height: 100%;
    background-color: #F3F3F3;
    z-index: 3;
    margin: 0 auto;
    flex-direction: column;
  }

  .form-message--opened {
    display: block;
  }

  .form-message__title {
    width: 289px;
    font-size: 21px;
    line-height: 24.13px;
    text-align: center;
    color: #1C1C1C;
    margin: 171px 0 0 15px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/Success.svg");
      width: 64px;
      height: 60px;
      top: -79px;
      left: 112px;
    }
  }

  .form-message__description {
    font-size: 15px;
    font-weight: 300;
    line-height: 19.5px;
    width: 288px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    margin: 10px 0 0 16px;
  }

  .form-message__ok-button {
    @include button();
    width: 96px;
    height: 34px;
    border: 2px solid #0DD1A2;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.4);
    align-self: center;
    margin-top: 39px;
  }
}

@media (min-width: 1366px) {
  .form-message {
    background-color: rgba(0, 0, 0, 0.8);
    width: 1366px;
    height: 100%;
    margin: 0 auto;
    z-index: 3;
    display: none;
  }

  .form-message--opened {
    display: block;
  }

  .form-message__wrapper {
    width: 560px;
    height: 338px;
    margin-top: 215px;
    margin-left: 403px;
    display: flex;
  }

  .form-message__title {
    width: 351px;
    margin-top: 109px;
    margin-left: 105px;
    
    &::before {
      top: -81px;
      left: 145px;
    }
  }

  .form-message__description {
    width: 400px;
    margin-left: 86px;
    margin-top: 9px;
  }

  .form-message__ok-button {
    align-self: center;
    margin-top: 31px;
  }
}