@media (min-width: 320px) {
  .page-header--opened-nav .header-social-contacts {
    display: flex;
    order: 5;
  }

  .header-social-contacts {
    list-style-type: none;
    padding: 0;
    display: none;
    justify-content: flex-start;
    margin: 30px 0 0 20px;
  }

  .header-social-contacts__item {
    &:nth-of-type(1) {
      margin-right: 25px;
    }

    &:nth-of-type(2) {
      margin-top: 5px;
    }
  }
}

@media (min-width: 1366px) {
  .header-social-contacts {
    display: none;
  }
}