@media (min-width: 320px) {
  .instruction {
    margin-top: 90px;
  }

  .instruction__title {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 16px;
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 500;
    line-height: 32.17px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 288px;
      height: 3px;
      background-color: #0DD1A2;
      top: 44px;
    }
  }

  .instruction__list {
    padding: 0;
    list-style-type: none;
  }

  .instruction__buttons {
    margin-left: 185px;
    margin-top: 20px;
  }

  .instruction__button-next {
    margin-left: -4px;
  }

  .instruction__scroll-button {
    display: none;
  }
}

@media (min-width: 1366px) {
  .instruction {
    margin-top: 179px;
    margin-left: 75px;
  }

  .instruction__title {
    font-size: 44px;
    width: 380px;

    &::before {
      width: 415px;
      top: 48px;
    }
  }

  .instruction__list {
    display: flex;
    width: 1222px;
    flex-wrap: wrap;
  }

  .instruction__buttons {
    @include visually-hidden();
  }

  .instruction__scroll-button {
    display: block;
    @include button();
    width: 30px;
    height: 30px;
    opacity: 0.7;
    position: relative;
    margin-left: 592px;
    margin-top: 20px;

    &::before {
      content: "";
      position: absolute;
      content: "";
      width: 10px;
      height: 1px;
      position: absolute;
      background-color: #FFFFFF;
      opacity: 0.5;
      transform: rotate(45deg);
      top: 15px;
      left: 7px;
    }

    &::after {
      content: "";
      position: absolute;
      content: "";
      width: 10px;
      height: 1px;
      position: absolute;
      background-color: #FFFFFF;
      opacity: 0.5;
      transform: rotate(-45deg);
      // top: 25px;
      // left: 145px;
    }
  }
}