@media (min-width: 320px) {
  .intro {
    margin-top: 90px;
  }
  
  .intro__title {
    margin: 0;
    font-size: 36px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
  }

  .intro__description {
    margin: 0;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    color: #FFFFFF;
    text-align: center;
  }
}