@media (min-width: 320px) {
  .intro {
    width: 288px;
    margin: 146px auto 0 auto;
  }

  .intro__title {
    margin: 0;
    font-size: 36px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
  }

  .intro__description {
    margin: 20px 0 0 0;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    color: #FFFFFF;
    text-align: center;
  }

  .intro__buttons {
    margin: 50px auto 0 auto;
  }

  .intro__scroll-button {
    @include button();
    width: 288px;
    margin-top: 57px;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 2px;
    opacity: 0.5;
    position: relative;

    &::before {
      content: "";
      width: 7px;
      height: 1px;
      position: absolute;
      background-color: #FFFFFF;
      opacity: 0.5;
      transform: rotate(45deg);
      top: 25px;
      left: 137px;
    }

    &::after {
      content: "";
      width: 7px;
      height: 1px;
      position: absolute;
      background-color: #FFFFFF;
      opacity: 0.5;
      transform: rotate(-45deg);
      top: 25px;
      left: 142px;
    }
  }
}

@media (min-width: 1366px) {
  .intro {
    width: 728px;
    margin-left: 120px;
    margin-top: 226px;
    position: relative;
  }

  .intro {
    &::before {
      content: "";
      position: absolute;
      background-image: url("../../img/kid_VR.png");
      width: 430px;
      height: 350px;
      top: 192px;
      left: 816px;
    }
  }

  .intro__title {
    font-size: 96px;
    width: 738px;
  }

  .intro__description {
    font-size: 17px;
    width: 494px;
    line-height: 25.5px;
    text-align: left;
    margin-top: 24px;
  }

  .intro__scroll-button {
    margin-top: 156px;
    margin-left: 417px;

    &::before {
      width: 9px;
    }

    &::after {
      width: 9px;
    }
  }
}