@media (min-width: 320px) {
  .nav-social-logo--fb {
    width: 11px;
    height: 22px;
    opacity: 0.5;
    fill: #FFFFFF;
  }

  .nav-social-logo--vk {
    width: 28px;
    height: 15px;
    opacity: 0.5;
    fill: #FFFFFF;
  }
}