@media (min-width: 320px) {
  .nav {
    display: none;
  }

  .nav--opened  {
    display: block;
    // height: 100vh;
    // position: fixed;
    // top: 56px;
    background-image: url("../img/mobile-nav-bg.jpg");
    background-repeat: no-repeat;
    width: 320px;
    order: 3;
    margin-top: 0;
  }

  .nav__phone {
    display: block;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 18.38px;
    margin-top: 30px;
    margin-left: 24px;
  }
}

@media (min-width: 1366px) {
  .nav {
    display: block;
    order: 1;
    margin-left: 42px;
  }
}