@media (min-width: 320px) {
  .order-button {
    @include button();
    border: 2px solid #0DD1A2;
    border-radius: 2px;
    font-size: 14px;
    margin-left: 58px;
  }

  .order-button {
    &:hover {
      background-color: #0DD1A2;
      border-color: #0DD1A2;
    }

    &:active {
      opacity: 0.8;
    }
  }
}

@media (min-width: 1366px) {
  .order-button {
    order: 2;
    margin-left: 91px;
  }
}