@media (min-width: 320px) {
  .page-header {
    display: flex;
    width: 320px;
    padding-top: 22px;
    position: fixed;
    z-index: 3;
  }

  .page-header__logo {
    width: 28px;
  }

  .page-header__button {
    width: 108px;
    height: 34px;
  }

  .page-header__nav-toggle {
    @include button();
    position: relative;
    width: 24px;
    background-color: #FFFFFF;
    height: 2px;
    box-shadow: 0 6px 0 #FFFFFF;
    margin-left: 62px;
    margin-top: 7px;
    
    &::after {
      content: "";
      position: absolute;
      width: 16px;
      height: 2px;
      background-color: #FFFFFF;
      top: 12px;
      left: 8px;
    }
  }

  .page-header--scrolled {
    background-color: #000000;
    padding-bottom: 20px;
    border-bottom: 1px solid #0DD1A2;
  }
}