@media (min-width: 320px) {
  .page-body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 320px;
    margin: 0 auto;
    position: relative;
    height: 4229px;

    &::after {
      content: "";
      position: absolute;
      background-image: url(../../img/mobile-intro-bg.jpg);
      background-repeat: no-repeat;
      width: 320px;
      height: 568px;
      z-index: -1;
    }

    &::before {
      content: "";
      position: absolute;
      background-image: url("../../img/index-bg.jpg");
      width: 320px;
      height: 100%;
      background-attachment: fixed;
      background-size: cover;
      margin-top: 568px;
      z-index: -1;
    }
  }

  .page-body__header {
  }
}