@media (min-width: 320px) {
  .page-body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    background-image: url(../../img/mobile-intro-bg.jpg);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 320px;
    margin: 0 auto;
  }

  .page-body__header {
  }
}