@media (min-width: 320px) {
  .page-footer {
    margin-top: 80px;
  }

  .page-footer--opened-nav {
    position: fixed;
    overflow: hidden;
  }
}

@media (min-width: 1366px) {
  .page-footer {
    display: flex;
    width: 1212px;
    margin: 140px auto 30px auto;
    justify-content: space-between;
    align-items: center;
  }
}