@media (min-width: 320px) {
  .page-main {
    width: 320px;
    margin: 0 auto;
  }

  .page-main--opened-nav {
    overflow: hidden;
    position: fixed;
  }
}

@media (min-width: 1366px) {
  .page-main {
    width: 1366px;
    margin: 0 auto;
  }
}