@media (min-width: 320px) {
  .page-header {
    width: 320px;
  }

  .page-header__wrapper {
    display: flex;
    width: 320px;
    padding-top: 22px;
    position: fixed;
    flex-wrap: wrap;
    z-index: 3;
  }

  .page-header__phone {
    display: none;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    width: 100%;
    order: 4;
  }

  .page-header--opened-nav .page-header__phone {
    display: block;
    // position: fixed;
    // top: 469px;
    // left: 24px;
    z-index: 3;
    margin-left: 24px;
    margin-top: 14px;
  }

  .page-header--opened-nav {
    background-image: url("../img/mobile-nav-bg.jpg");
    position: fixed;
    height: 100vh;
    z-index: 2;
  }

  .page-header__logo {
    width: 28px;
  }

  .page-header__button {
    width: 108px;
    height: 34px;
  }

  .page-header__nav-toggle {
    @include button();
    position: relative;
    width: 24px;
    background-color: #FFFFFF;
    height: 2px;
    box-shadow: 0 6px 0 #FFFFFF;
    margin-left: 62px;
    margin-top: 7px;
    order: 2;
    
    &::after {
      content: "";
      position: absolute;
      width: 16px;
      height: 2px;
      background-color: #FFFFFF;
      top: 12px;
      left: 8px;
    }
  }

  .page-header__nav-toggle--close {
    box-shadow: none;
    transform: rotate(45deg);
    top: 6px;

    &::after {
      width: 24px;
      left: 0;
      top: 0;
      transform: rotate(90deg);
    }
  }

  .page-header--scrolled {
    background-color: #000000;
    padding-bottom: 20px;
    border-bottom: 1px solid #0DD1A2;
  }
}

@media (min-width: 1366px) {
  .page-header {
    // width: 1366px;
    // margin: 40px auto 0 auto;
    // padding-top: 0;
    // align-items: center;
  }

  .page-header__wrapper {
    width: 1366px;
    margin: 40px auto 0 auto;
    padding-top: 0;
    align-items: center;
  }

  .page-header__nav-toggle {
    display: none;
  }

  .page-header__phone {
    display: block;
    order: 3;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 18.38px;
    margin-left: 20px;
    width: 127px;
  }

  .page-header--scrolled {
    background-color: transparent;
    padding-bottom: 0;
    border-bottom: none;
  }
}