@media (min-width: 320px) {
  .send-button {
    margin-top: 15px;
    @include button();
    width: 120px;
    height: 34px;
    border: 2px solid #0DD1A2;
    font-size: 14px;
  }

  .send-button {
    &:hover {
      background-color: #0DD1A2;
      border-color: #0DD1A2;
    }

    &:active {
      opacity: 0.8;
    }
  }
}

@media (min-width: 1366px) {
  .send-button {
    margin-top: 15px;
  }
}