@media (min-width: 320px) {
  .social-logo--fb {
    width: 10px;
    height: 17px;
    fill: #FFFFFF;
  }

  .social-logo--vk {
    width: 21px;
    height: 12px;
    fill: #FFFFFF;
  }
}

@media (min-width: 1366px) {
  .social-logo--fb {
    opacity: 0.6;
  }

  .social-logo--vk {
    opacity: 0.6;
  }

  .social-logo--fb {
    &:hover {
      opacity: 1;
    }
  }

  .social-logo--vk {
    &:hover {
      opacity: 1;
    }
  }
}