@media (min-width: 320px) {
  .technology-item {
    display: none
  }

  .technology-item__button {
    display: none;
  }

  .technology-item--visible {
    display: block;
  }

  .technology-item__wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 63px;
    position: relative;
  }

  .technology-item__title {
    order: 1;
    font-size: 21px;
    font-weight: 700;
    color: #FFFFFF;
    margin: 30px 0 0 16px;
  }

  .technology-item__image {
    order: 0;
  }

  .technology-item__image-wrapper {
    margin-left: 18px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 24px;
      height: 24px;
      background-image: url("../img/vr-dec.svg");
    }
  }

  .technology-item__text {
    order: 2;
    font-size: 15px;
    width: 280px;
    color: #FFFFFF;
    line-height: 19px;
    margin: 12px 0 0 16px;
  }

  .technology-item {
    &:nth-of-type(1) .technology-item__image-wrapper {
      &::before {
        top: 87px;
        left: 28px;
      }
    }

    &:nth-of-type(2) .technology-item__image-wrapper {
      &::before {
        top: 108px;
        left: 164px;
      }
    }

    &:nth-of-type(3) .technology-item__image-wrapper {
      &::before {
        top: 74px;
        left: 168px;
      }
    }

    &:nth-of-type(4) .technology-item__image-wrapper {
      &::before {
        top: 132px;
        left: 257px;
      }
    }

    &:nth-of-type(3) .technology-item__counter {
      top: 544px;
    }

    &:nth-of-type(4) .technology-item__counter {
      top: 492px;
    }
  }

  .technology-item__counter {
    position: absolute;
    display: flex;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    font-weight: 500;
    top: 509px;
    left: 106px;
  }

  .technology-item__counter-max {
    font-weight: 400;
    opacity: 0.8;
  }
}

@media (min-width: 1366px) {
  .technology-item {
    display: block;
    position: relative;
  }

  .technology-item__counter {
    @include visually-hidden();
  }

  .technology__buttons {
    @include visually-hidden();
  }

  .technology-item__wrapper {
    position: relative;
  }

  .technology-item__text {
    width: 280px;
    line-height: 19.5px;
  }

  .technology-item {
    &:not(:nth-of-type(1)) .technology-item__image-wrapper {
      @include visually-hidden();
    }

    &:nth-of-type(1) .technology-item__image {
      width: 422px;
      height: 412px;
    }

    &:nth-of-type(1) .technology-item__image-wrapper {
      position: absolute;
      left: 343px;
      top: 4px;
      width: 480px;
      height: 480px;

      &::before {
        width: 480px;
        height: 480px;
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 50%;
        background-image: none;
        top: -35px;
        left: -40px;
      }
    }

    &:nth-of-type(1) .technology-item__title {
      margin-top: 17px;
      margin-left: 29px;
    }

    &:nth-of-type(1) .technology-item__text {
      margin-top: 13px;
      margin-left: 26px;
    }
  }

  .technology-item {
    &:nth-of-type(2) {
      margin-top: -12px;
      margin-left: 11px;
    }

    &:nth-of-type(3) .technology-item__wrapper {
      margin-top: 0;
    }

    &:nth-of-type(3) {
      margin-top: 50px;
      margin-left: 540px;
    }

    &:nth-of-type(4) {
      margin-top: -29px;
      margin-left: 539px;
    }
  }

  .technology-item {
    &:nth-of-type(1) {
      &::before {
        content: "";
        position: absolute;
        width: 181px;
        height: 114px;
        background-image: url("../img/pointer1.svg");
        top: 91px;
        left: 238px;
        z-index: 2;
      }
    }

    &:nth-of-type(2) {
      &::before {
        content: "";
        position: absolute;
        width: 410px;
        height: 83px;
        background-image: url("../img/pointer2.svg");
        top: 25px;
        left: 185px;
        z-index: 2;
      }
    }

    &:nth-of-type(3) {
      &::before {
        content: "";
        position: absolute;
        width: 245px;
        height: 98px;
        background-image: url("../img/pointer3.svg");
        top: 42px;
        left: -242px;
        z-index: 2;
      }
    }

    &:nth-of-type(4) {
      &::before {
        content: "";
        position: absolute;
        width: 124px;
        height: 90px;
        background-image: url("../img/pointer4.svg");
        top: 17px;
        left: -119px;
        z-index: 2;
      }
    }
  }

  .technology-item__button {
    display: block;
    @include button();
    width: 85px;
    height: 85px;
    background-color: #15B28D;
    position: absolute;
    border-radius: 50%;
    top: 373px;
    left: 663px;
    background-image: url("../img/loup.svg");
    background-repeat: no-repeat;
    background-position: 27px 25px;
  }

  .technology-item__button {
    &:hover {
      background-color: #0DD1A2;
    }
  }

}