@media (min-width: 320px) {
  .technology-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
}

@media (min-width: 1366px) {
  .technology-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 500px;
  }
}