@media (min-width: 320px) {
  .technology {
    margin-top: 90px;
  }

  .technology__title {
    margin: 0 0 0 16px;
    font-size: 28px;
    font-weight: 500;
    line-height: 32.17px;
    color: #FFFFFF;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 288px;
      height: 3px;
      background-color: #0DD1A2;
      top: 45px;
    }
  }

  .technology__buttons {
    margin-left: 184px;
    margin-top: 23px;
  }

  .technology__button-next {
    margin-left: -4px;
  }

  .technology__scroll-button {
    display: none;
  }
}

@media (min-width: 1366px) {
  .technology {
    width: 1142px;
    margin-left: 90px;
    margin-top: 185px;
  }

  .technology__title {
    font-size: 44px;
    line-height: 50.56px;
    margin-left: 0;

    &::before {
      width: 343px;
      top: 54px;
    }
  }

  .technology__scroll-button {
    display: block;
    @include button();
    width: 30px;
    height: 30px;
    opacity: 0.7;
    position: relative;
    margin-left: 578px;
    margin-top: 20px;

    &::before {
      content: "";
      position: absolute;
      content: "";
      width: 10px;
      height: 1px;
      position: absolute;
      background-color: #FFFFFF;
      opacity: 0.5;
      transform: rotate(45deg);
      top: 15px;
      left: 7px;
    }

    &::after {
      content: "";
      position: absolute;
      content: "";
      width: 10px;
      height: 1px;
      position: absolute;
      background-color: #FFFFFF;
      opacity: 0.5;
      transform: rotate(-45deg);
      // top: 25px;
      // left: 145px;
    }
  }
}